<div data-role="page" class="dex-component-page" data-dexcol-title="XXX_TITLE_UNSET" id="component" data-theme="d" >
    <%= include("header.html") %>

    <div data-role="content" id="component_content" >
        <ul data-role='listview' class='dex-component-menu' data-filter='true' >
        </ul>

        <div class='dex-component-output' >

        </div>
    </div>
</div>

