
            <div data-role="panel" id="left-panel" data-display="reveal">
                <ul data-role="listview" data-theme='b' class='winifred-page-menu' >
                    <li data-icon='back' ><a id='backlink' data-transition='slide' data-direction='reverse' href='#' data-rel='back'>Back</a></li>
                    <li data-icon='home' ><a href='#home' >Home</a></li>
                    <li data-icon='gear' ><a href='#settings' >Settings</a></li>
                    <li><a href='#documents' data-theme='c' >Documents</a></li>
                    <li><a href='#chat' data-theme='c'>Chat</a></li>
                    <li><a href='"#types' data-theme='c'>Types</a></li>
                </ul>
            </div>

            <div data-role="header" data-position='fixed' id='index-header' data-theme='b' >
                <!-- just the alt-colour icon with no decoration -->
                <a href="#" data-role='button' data-icon="home" class=" winifred-home-link " data-iconpos="notext"></a>
                <h2 class='winifred-page-title' ></h2>
                <div class="ui-btn-right" data-role="controlgroup" data-type="horizontal">
                    <a data-role='button' data-icon='search' data-iconpos="notext" class="winifred-filter-toggle " href='XX_UNSET_HREF' ></a>
                    <a data-role='button' data-icon='refresh' data-iconpos="notext" class="winifred-page-refresh " href='#' ></a>
                </div>
            </div>


