
<div data-role="page" id="home" data-dexhdr-title="Winifred">
	<%= include("header.html") %>
	<div data-role="content">
		<ul data-role='listview' class='winifred-component-menu' data-filter='true' >
			<li data-icon='gear'><a href='#settings'>Settings</a></li>
		</ul>
	</div>
</div>

